GROQ_API_KEY = "gsk_*******************"
AVIATIONSTACK_API_KEY = "**********************"
DEFAULT_ORIGIN_IATA = "DEL"                # IATA code for Delhi, mane by default delhi origin hobe
TAVILY_API_KEY = "tvly-dev-*********************************"
DATABASE_URL = postgresql://*****************************************postgres.render.com/db_name
LANGSMITH_TRACING = "true"
LANGSMITH_ENDPOINT = "https://api.smith.langchain.com"
LANGSMITH_API_KEY = "**********************"
LANGSMITH_PROJECT="Wayfarer"